.paginate {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.paginate__active-item {
  color: var(--primary-text-color);
}

.paginate__item {
  padding: 10px 16px;
  line-height: 20px;
}

.paginate__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--gray);
}

.paginate__arrow-right {
  margin-right: 4px;
}

.paginate__arrow-left {
  margin-left: 4px;
}

.paginate__number {
  padding: 10px 0;
}

.paginate__previous,
.paginate__next {
  flex-grow: 1;
}

.paginate__next {
  display: flex;
  justify-content: flex-end;
}

.paginate-mobile {
  display: none;
}

.paginate-mobile__btn {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 8px;
}

.paginate__item-disabled {
  opacity: 0.5;
}

.paginate__item-disabled button,
.paginate__item-disabled a {
  cursor: default;
}
