@import url('./header/index.css');
@import url('./footer/index.css');
@import url('./full-dish/index.css');
@import url('./favorite/index.css');
@import url('./auth/index.css');
@import url('./not-found/index.css');
@import url('./paginate//index.css');
@import url('./sections/search.css');
@import url('./sections/dishes.css');

/* reset base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

input,
button {
  font-family: 'Inter';
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Inter';
}

.scroll-block {
  overflow: hidden;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-btn-color);
  transition: 0.2s;
}

.btn-primary--disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-primary:hover {
  background-color: var(--primary-text-color);
}

.btn-attention {
  color: #fff;
  background-color: var(--attention-btn-color);
  transition: 0.2s;
}

.btn-attention:hover {
  background-color: var(--attention-text-color);
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--label-color);
  margin-bottom: 6px;
  align-self: flex-start;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
  width: 100%;
}

.main {
  padding: 96px 0;
  flex-grow: 1;
}
