:root {
  --primary-btn-color: #7f56d9;
  --primary-text-color: #6941c6;
  --attention-btn-color: #d92d20;
  --attention-text-color: #b42318;
  --label-color: #344054;
  --placeholder-color: #667085;
  --black: #101828;
  --gray: #475467;
}
