.header {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header .container {
  position: relative;
}

.header .container::after {
  content: '';
  background: #d0d5dd;
  position: absolute;
  top: calc(44px + 18px);
  left: 0;
  height: 1px;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-right: 24px;
}

.header__menu {
  display: flex;
  flex-grow: 1;
}

.header__menu-link {
  color: var(--gray);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 16px;
}

.header__auth {
  display: flex;
  column-gap: 12px;
}

.header__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 18px;
  border-radius: 8px;
}

.header__btn-signin {
  color: var(--gray);
}

.header__hamburger-container {
  display: none;
  cursor: pointer;
  padding: 8px;
}

.header__hamburger {
  position: relative;
  width: 20px;
  height: 14px;
}

.header__hamburger-inner {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__hamburger-line {
  height: 2px;
  border-radius: 1px;
  background-color: var(--label-color);
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease;
}

.header__hamburger-line:first-child {
  transform-origin: 0% 100%;
}

.header__hamburger-line:nth-last-child(2) {
  transform-origin: 0% 0%;
}

.header__hamburger-line:last-child {
  transform-origin: 15% 50%;
}

.mobile-menu--open .header__hamburger-line {
  background-color: var(--primary-text-color);
}

.mobile-menu--open .header__hamburger-line:first-child {
  opacity: 1;
  transform: rotate(45deg);
}

.mobile-menu--open .header__hamburger-line:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile-menu--open .header__hamburger-line:last-child {
  transform: rotate(-45deg);
}

.header__mobile-menu {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 88px;
  height: calc(100vh - 88px);
  padding: 32px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.3s;
}

.mobile-menu--open .header__mobile-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header__mobile-menu-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px;
}

.header__mobile-menu-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-btn-color);
  margin-bottom: 24px;
}

.header__mobile-menu-nav {
  flex-grow: 1;
}

.header__mobile-menu-link {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.header__mobile-menu-icon {
  margin-right: 16px;
}

.header__mobile-menu-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black);
}

.header__mobile-auth {
  display: flex;
  column-gap: 12px;
}
