.full-dish {
  max-width: 720px;
  margin: 0 auto 96px;
  padding-bottom: 48px;
  border-bottom: 1px solid #d0d5dd;
}

.full-dish__main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 24px;
}

.full-dish__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 48px;
}

.full-dish__info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.full-dish__info-item {
  display: flex;
  align-items: center;
}

.full-dish__info-icon {
  margin-right: 8px;
}

.full-dish__favorite-btn {
  display: flex;
  padding: 8px 14px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

.full-dish__favorite-btn-icon {
  margin-right: 8px;
}

.full-dish__favorite-btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--label-color);
}

.full-dish-image-container {
  height: 550px;
  margin-bottom: 32px;
}

.full-dish-image {
  max-width: 100%;
  border-radius: 12px;
}

.full-dish__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--black);
  margin-bottom: 20px;
}

.full-dish__description {
  margin-bottom: 48px;
}

.full-dish__description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.full-dish__category {
  display: flex;
  margin-bottom: 48px;
}

.full-dish__category-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  margin-right: 10px;
}

.full-dish__category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.full-dish__category-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-text-color);
  padding: 2px 14px;
  background-color: #f9f5ff;
  border-radius: 16px;
}

.full-dish__ingrts {
  margin-bottom: 48px;
}

.full-dish__ingrts-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.full-dish__ingrts-item {
  display: flex;
  column-gap: 10px;
}

.full-dish__ingrts-line {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d5dd;
  margin-top: 20px;
}

.full-dish__ingrts-name,
.full-dish__ingrts-amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.full-dish__recipe-list {
  padding-left: 1.8em;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.full-dish__recipe-item {
  list-style: decimal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.dishes__btn-container {
  text-align: center;
}

.dishes__show-more-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-text-color);
}
