.footer {
  background-color: #1d2939;
  padding: 64px 0 48px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid var(--gray);
}

.footer__logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #eaecf0;
}

.footer__author,
.footer__copyright {
  font-size: 16px;
  line-height: 24px;
  color: #d0d5dd;
}

.footer__author-link {
  color: #eaecf0;
  text-decoration: underline;
}

.footer__author-heart {
  color: #c01048;
}
